<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<!-- Page Title -->
		<title>Tech-Mex.io c/s - {{@file.page.title}}</title>

		<!-- Fonts and Material Icons -->
    <!--<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">-->
		<link href="https://fonts.googleapis.com/css?family=Inder|NTR" rel="stylesheet">
    
		<!-- Styles -->
		<link href="/css/style.min.css" rel="stylesheet" type="text/css">
    
	</head>
	<body class="slides bounce fast smoothScroll animated">
